[Desktop Entry]
Name=Penguin Command
Name[af]=Pikkewyn Opdrag
Name[bg]=Пингвин
Name[bs]=Pingvin komanda
Name[ca]=Comand Pingüí
Name[da]=Pingvin-kommando
Name[eo]=Pingvinkomando
Name[hu]=Pingvin-invázió
Name[id]=Perintah Penguin
Name[ja]=ペンギン コマンド
Name[ko]=펭귄 명령
Name[lv]=Pingvīnu Komanda
Name[pl]=Drużyna Pingwina
Name[pt_BR]=Pingüim
Name[ru]=Пингвины
Name[sv]=Pingvinkommando
Name[ta]=¦ÀýÌÂ¢ý ¸ð¼¨Ç
Name[uk]=Команда пінгвінів
Name[ve]=Muthetho wa Penguin
Name[vi]=Lệnh chim cánh cụt
Name[xh]=Umyalelo wentaka yolwandle engakwazi ukubhabha
Name[zh_CN]=企鹅指挥官
Name[zu]=Umyalelo Wamaphengwini
Comment=A missile command clone
Comment[pl]=Klon gry missile command
Exec=penguin-command
Icon=penguin-command
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
