[Desktop Entry]
Name=Penguin Command
Comment=A missile command clone
Comment[pl]=Klon gry missile command
Exec=penguin-command
Terminal=0
Type=Application
Icon=penguin-command.png
# vi: encoding=utf-8
